{% extends 'base_admin.html.twig' %}

{% block title %}Ventas{% endblock %}

{% block breadcrumb %}
   

{% endblock %}

{% block body %}
<div class="card">
    <div class="card-header"><i class="fas fa-table"></i>Ordenes</div>
        <div class="card-body">
           <table class="table table-bordered table-striped order_table" id="zero_config" >
                    <thead>
                    <tr>
                        <th style="width:10%" >ID</th>
                        <th style="width:10%" >Estatus de Pago</th>
                        <th style="width:10%" >Cliente</th>

                        <th style="width:10%" >Total</th>
                        <th style="width:10%" >Comisión</th>
                        <th style="width:10%">Fecha</th>
                        <th style="width:10%">Acciones</th>


                    </tr>
                    </thead>
                    <tbody>
                    {% for sale in sales %}
                        <tr>
                            <td>{{ sale.id }}</td>
                        {% if sale.isCancelled != 1 %}
                            {% if sale.isPaid == 1 %}
                            <td style="color: #0ba360">Pagado</td>
                            {% else %}
                                <td class="text-warning">No Pagado</td>

                            {% endif %}


                            {% else %}
                                <td style="color: #a71d2a">Cancelada</td>

                            {% endif %}

                            
                            <td>{{ sale.client }} </td>
                            <td>${{ sale.total + sale.commission }} MXN</td>
                            <td>${{ sale.commission}} MXN</td>
                            <td>{{ sale.time ? sale.time|date('d-m-Y H:i:s') : '' }}</td>
                            <td>
                                <div class="btn btn-primary btn-sm">
                                    <a class="text-white" href="{{ path('sales_list_show', {'id': sale.id}) }}">Detalles</a>
                                </div>

                            </td>

                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                 
            </div>
           
        </div>
    </div>

{% endblock %}

{% block pagejs %}

    <script src="{{ asset('theme/assets/extra-libs/datatables.net/js/jquery.dataTables.min.js') }}"></script>

    <script>

        $('#zero_config').DataTable({
            "order": [
                [0, "desc"]
            ]
        });
    
    </script>
{% endblock %}


