{% extends 'base_admin.html.twig' %}

{% block title %}Sale {{ sale.id }}{% endblock %}

{% block body %}
<div class="card">
    <div class="card-header"><i class=""></i>Venta
    </div>
    <div class="card-body">
   
    {% if sale.isCancelled != 1 %}
        <a class="btn btn-danger text-white cancel_sale my-3 float-right">Canelar Venta</a>
    {% endif %}
        <button onclick="window.open('/sale/{{sale.id}}/reciept', '_blank')" class="btn btn-primary text-white create_invoice my-3 ">Recibo</button>
        <a class="btn btn-primary text-white create_invoice my-3 ">Facturar</a>


<div class="table-responsive">
    <table class="table table-bordered table-striped " id="dataTable" >
        <tbody>
            <tr>
                <th>Numero de Venta</th>
                <td>{{ sale.id }}</td>
            </tr>
            <tr>
                <th>Cliente</th>
                <td><a href="{{ path('client_show', {'id': sale.ClientId.id}) }}">{{ sale.client }}</a></td>

            </tr>
            <tr>
                <th>Subtotal</th>
                <td>${{ sale.subtotal }}</td>
            </tr>
           
            <tr>
                <th>IVA</th>
                <td>${{ sale.tax }}</td>
            </tr>

            {% if sale.commission > 0 %}
            <tr>
                <th>Commision</th>
                <td>${{ sale.commission }}</td>
            </tr>
            {% endif %}


            <tr>
                <th>Total</th>
                <td>${{ sale.total + sale.commission }}</td>
            </tr>
            

            <tr>
                <th>Fecha</th>
                <td>{{ sale.time ? sale.time|date('d-m-Y H:i:s') : '' }}</td>
            </tr>

            <tr>
                <th>Vendedor</th>
                <td>{{ sale.user.firstname ~ " " ~ sale.user.lastname }}</td>
            </tr>

            
        </tbody>
    </table>

    <table class="table table-bordered table-striped " id="dataTable" >
      <thead>
            <tr>
                <th style="width:10%" >Imagen</th>
                <th style="width:10%" >UPC</th>
                <th style="width:10%" >SKU</th>
                <th style="width:10%" >Nombre</th>
                <th style="width:10%" >Precio</th>
                <th style="width:10%" >Descuento</th>
                <th style="width:10%" >Cantidad</th>

            <th style="width:10%">Acciones</th>
            </tr>
        </thead>
        <tbody>
            
        {% for product in sale.products %}
            <tr>
                {%  if product.product.image != null %}
                    <td><img class="img-thumbnail rounded mx-auto d-block" width="70px" height="70px" style="height:70px" src="{{ '/uploads/' ~ product.product.image }}" />
                    </td>

                    {% else %}
                        <td><img class="img-fluid img-thumbnail rounded mx-auto d-block" width="70px" height="70px" src="{{ asset('assets/images/product_placeholder.jpg') }}" />
                        </td>

                {% endif %}                
                <td>{{ product.product.UPC }}</td>
                <td>{{ product.product.SKU }}</td>
                <td>{{ product.product.name }}</td>
                <td>${{ product.price - product.discount }}</td>
                <td>${{ product.discount }}</td>
                <td>{{ product.amount }}</td>

                <td>
                    <div class="btn btn-primary btn-sm my-1">
                        <a class="text-white" href="{{ path('product_show', {'id': product.product.id}) }}">Detalles</a>

                    </div>
                    <div class="btn btn-primary btn-sm">
                        <a class="text-white" href="{{ path('product_edit', {'id': product.product.id}) }}">Editar</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
            
        </tbody>
    </table>
</div>
    <a href="{{ path('sales_list') }}">Regresar</a>
        </div>
    </div>
</div>




{% endblock %}

{% block pagejs %}

    <script src="{{ asset('theme/assets/extra-libs/datatables.net/js/jquery.dataTables.min.js') }}"></script>

    <script type="text/javascript">

        $('#zero_config').DataTable({
            "order": [
                [0, "desc"]
            ]
        });

          $(document).on('click', '.cancel_sale', function(){

              if (confirm("Deseas cancelar esta venta? El inventario se ajustara. Presiona OK para continuar")) {

                $.ajax({
                    url:"{{ path('sale_cancel') }}",
                    type: "POST",
                    data:{
                        saleID:{{ sale.id }}
                    },
                    success:function (php_result) {
                        console.log(php_result);
                        location.reload();

                    }

                });

                }
              

            });

        
    
    </script>
{% endblock %}