{% extends 'base_admin.html.twig' %}

{% block title %}Catalogo de Materiales{% endblock %}

{% block breadcrumb %}
   
{% endblock %}

{% block body %}
<div class="card">

<div class="card-header"><i class="fas fa-table"></i>Catalogo Materiales</div>
    
        <div class="card-body">
        
           <table class="table table-bordered table-striped " id="zero_config" >
           <div class="btn btn-primary my-2">
    <a class="text-white " href="{{ path('material_new') }}">Nuevo material</a>
    </div>
    <div class="btn btn-primary my-2 mx-2">
    <a class="text-white " href="{{ path('inventory_adjustment') }}">Ajuste de Inventario</a>
    </div>
        <thead>
        <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Cost</th>
                <th>Quantity</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for material in materials %}
            <tr>
                <td>{{ material.id }}</td>
                <td>{{ material.name }}</td>
                <td>{{ material.cost }}</td>
                <td>{{ material.quantity }}</td>
                <td>
                    <a href="{{ path('material_show', {'id': material.id}) }}">show</a>
                    <a href="{{ path('material_edit', {'id': material.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('material_new') }}">Create new</a>
{% endblock %}

{% block pagejs %}
    <script src="../theme/assets/extra-libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="../theme/dist/js/pages/datatable/datatable-basic.init.js"></script>
{% endblock %}
