{% extends 'base_admin.html.twig' %}

{% block title %}Material{% endblock %}

{% block body %}
<div class="card">

<div class="card-header"><i class="fas fa-table"></i></div>
    
        <div class="card-body">
        
           <table class="table table-bordered table-striped " id="zero_config" >
   
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ material.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ material.name }}</td>
            </tr>
            <tr>
                <th>Costo</th>
                <td>{{ material.cost }}</td>
            </tr>
            <tr>
                <th>Cantidad</th>
                <td>{{ material.quantity }}</td>
            </tr>
        </tbody>
    </table>




    <a href="{{ path('material_index') }}">back to list</a>

    <a href="{{ path('material_edit', {'id': material.id}) }}">edit</a>

    {{ include('material/_delete_form.html.twig') }}
{% endblock %}
