{% extends 'base.html.twig' %}

{% block title %}SimpleAppointment index{% endblock %}

{% block body %}

<div class="app-page-title mb-1">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="pe-7s-graph text-success">
                </i>
            </div>
            <div>Simple Appointments
                <div class="page-title-subheading">Simple Appointments
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Patients</div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Date</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>

        {% for simple_appointment in simple_appointments %}
            <tr>
                <td>{{ simple_appointment.id }}</td>
                <td>{{ simple_appointment.date ? simple_appointment.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('simple_appointment_show', {'id': simple_appointment.id}) }}">show</a>
                    <a href="{{ path('simple_appointment_edit', {'id': simple_appointment.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>

    <a href="{{ path('simple_appointment_new') }}">Create new</a>
{% endblock %}