{% extends 'base_admin.html.twig' %}

{% block title %}Catalogo de Productos{% endblock %}

{% block breadcrumb %}
   

{% endblock %}

{% block body %}
<div class="card">

<div class="card-header"><i class="fas fa-table"></i>Catalogo</div>
    
        <div class="card-body">
        
           <table class="table table-bordered table-striped " id="zero_config" >
           <div class="btn btn-primary my-2">
    <a class="text-white " href="{{ path('product_new') }}">Nuevo Producto</a>
    </div>
    <div class="btn btn-primary my-2 mx-2">
    <a class="text-white " href="{{ path('inventory_adjustment') }}">Ajuste de Inventario</a>
    </div>
        <thead>
        <tr>
                <th style="width:10%" >Imagen</th>
                <th style="width:10%" >UPC</th>
                <th style="width:10%" >SKU</th>
                <th style="width:10%" >Nombre</th>
                <th style="width:10%" >Precio</th>
                <th style="width:10%" >Existencia</th>
                <th style="width:10%" >Categoria</th>
            <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                {%  if product.image != null %}
                    <td><img class="img-thumbnail rounded mx-auto d-block" width="70px" height="70px" style="height:70px" src="{{ 'https://s3.amazonaws.com/pos.artstech/' ~ app.user.company.name ~ '/' ~ product.image }}" />
                    </td>

                    {% else %}
                        <td><img class="img-fluid img-thumbnail rounded mx-auto d-block" width="70px" height="70px" src="{{ asset('assets/images/product_placeholder.jpg') }}" />
                        </td>

                {% endif %}
                <td>{{ product.upc }}</td>

                <td>{{ product.sku }}</td>

                <td>{{ product.name }}</td>

                <td>${{ product.price }} MXN</td>
                <td>{{ product.quantity }}</td>

                {%  if product.category  != null %}
                    <td>{{ product.category.name }}</td>

                {% else %}
                    <td></td>

                {% endif %}

                <td>
                    <div class="btn btn-primary btn-sm my-1">
                        <a class="text-white" href="{{ path('product_show', {'id': product.id}) }}">Detalles</a>

                    </div>
                    <div class="btn btn-primary btn-sm">
                        <a class="text-white" href="{{ path('product_edit', {'id': product.id}) }}">Editar</a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
   
    

{% endblock %}

{% block pagejs %}
    <script src="../theme/assets/extra-libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="../theme/dist/js/pages/datatable/datatable-basic.init.js"></script>
{% endblock %}

