{% extends 'base.html.twig' %}




{% block title %}Hello SaleController!{% endblock %}

{% block body %}

    <div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Catalogo

    </div>

    <div class="card-body">
    <h3>Categorias</h3>
    <div class="my-2" id="myBtnContainer">
        <button class="btn btn-primary" onclick="filterSelection('all')"> Todos</button>
        {% for category in categories %}
            <button class="btn btn-primary" onclick="filterSelection('{{ category.name }}')">{{ category.name }}</button>
        {% endfor %}
    </div>
    <div id="ParentContainer" class="container-fluid">
        <div class ="row">
            <div style="width:70%;border:1px solid #333; border-radius:5px; padding: 10px;" align="center">
                <h1>Productos</h1>
                <div id="catalog" class ="row">
                    {% for product in products %}

                    {%  if product.category != null %}
                    <div class="col-sm-3 my-1 filterDiv {{ product.category.name }}" style="max-height: 500px">

                        {% else %}
                        <div class="col-sm-3 my-1 filterDiv General">

                            {% endif %}
                            <div style="border:1px solid #333; background-color:#f1f1f1; border-radius:5px; padding:16px; cursor:move" align="center">
                                {%  if product.image != null %}
                                    <img class="img-fluid img-thumbnail rounded img-responsive product_drag" style="height:150px;  width:100%;" src="{{ '/uploads/' ~ product.image }}" data-id="{{ product.id }}" data-name="{{ product.name }}" data-price="{{ product.price }}" data-taxable="{{ product.isTaxable }}"  />
                                {% else %}
                                    <img class="img-fluid img-thumbnail rounded img-responsive product_drag" style="    height:150px;  width:100%;" src="{{ asset('assets/images/product_placeholder.jpg') }}" data-id="{{ product.id }}" data-name="{{ product.name }}" data-price="{{ product.price }}" data-taxable="{{ product.isTaxable }}" />
                                {% endif %}

                                <h5 class="text-info" style="width: auto; white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">{{ product.name }}</h5>

                                {%  if product.quantity is not null %}
                                    <h6 class="text-muted">Existencia: <p class="my-0"id="product-quantity">{{ product.quantity }}</p></h6>




                                {% endif %}


                                {%  if product.price is not null %}
                                    <h4 class="text-danger">${{ product.price }}</h4>
                                {% else %}
                                    <h5 class="text-danger">Precio Abierto</h5><input id="product_price" class="container-fluid rounded my-1" type="number" >
                                {% endif %}

                                {%  if product.isMultiple is not null %}
                                    <div class="row">
                                        <div class="col-sm-1"><p class="my-1">#</p></div>
                                        <div class="col-sm-8"><input id="product_amount" class="container-fluid rounded my-1" type="number" pattern="[0-9]">
                                        </div>

                                    </div>
                                {% endif %}

                                <div class="add-button">
                                    {%  if product.price is not null %}
                                        <button id="add_product" class="add_product btn btn-sm btn-primary">Agregar</button>
                                        {%  if product.isMultiple is not null %}
                                            <button id="add_multiple_product" class="add_multiple_product btn btn-sm btn-primary">Agregar #</button>

                                        {% endif %}
                                    {% else %}
                                        <button id="add_service" class="add_service btn btn-sm btn-primary">Agregar</button>
                                        {%  if product.isMultiple is not null %}
                                            <button id="add_multiple_service" class="add_multiple_service btn btn-sm btn-primary">Agregar #</button>

                                        {% endif %}

                                    {% endif %}



                                </div>
                            </div>
                        </div>


                        {% endfor %}

                </div>
            </div>
            <div id="FixedDiv" class="sticky-top mx-1 " style="width:29%;height:50%;border:1px solid #333;top:60px; background-color:#ffffff; border-radius:5px; padding-left: 10px;" align="center">
                <h1>Carrito</h1>

                <div id="dragable_product_order">
                </div>
                    <table id="cart" class="cart-table table table-bordered"  >
                        <h5>Cliente</h5><input id="client_name" type="text" class="rounded my-1">
                        <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Cantidad</th>
                            <th>Precio</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>Subtotal:</td>
                                <td id="subtotal">0.00</td>

                            </tr>

                            <tr>
                                <td>IVA:</td>
                                <td id="tax">0.00</td>

                            </tr>
                            <tr>
                                <td>Total:</td>
                                <td id="total">0.00</td>

                            </tr>


                        </tbody>
                    </table>

                <button type='submit' onclick="payment()" class='payment-button btn btn-primary my-2 '>Pagar</button>

            </div>




    </div>

    </div>
    </div>
        <script src="{{ asset('js/jquery-3.3.1.js') }}"></script>

    <script>
        filterSelection("all");
        function filterSelection(c) {
            var x, i;
            x = document.getElementsByClassName("filterDiv");

            if (c === "all") c = "";
            // Add the "show" class (display:block) to the filtered elements, and remove the "show" class from the elements that are not selected
            for (i = 0; i < x.length; i++) {
                w3RemoveClass(x[i], "show");
                if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
            }
        }

        // Show filtered elements
        function w3AddClass(element, name) {
            var i, arr1, arr2;
            arr1 = element.className.split(" ");
            arr2 = name.split(" ");
            for (i = 0; i < arr2.length; i++) {
                if (arr1.indexOf(arr2[i]) == -1) {
                    element.className += " " + arr2[i];
                }
            }
        }

        // Hide elements that are not selected
        function w3RemoveClass(element, name) {
            var i, arr1, arr2;
            arr1 = element.className.split(" ");
            arr2 = name.split(" ");
            for (i = 0; i < arr2.length; i++) {
                while (arr1.indexOf(arr2[i]) > -1) {
                    arr1.splice(arr1.indexOf(arr2[i]), 1);
                }
            }
            element.className = arr1.join(" ");
        }

        // Add active class to the current control button (highlight it)
        var btnContainer = document.getElementById("myBtnContainer");
        var btns = btnContainer.getElementsByClassName("btn");
        for (var i = 0; i < btns.length; i++) {
            btns[i].addEventListener("click", function() {
                var current = document.getElementsByClassName("active");
                current[0].className = current[0].className.replace(" active", "");
                this.className += " active";
            });
        }

    </script>

    <script type="text/javascript">
        $(document).ready(function(data){
            $('.product_drag_area').on('dragover', function(){
                $(this).addClass('product_drag_over');
                return false;
            });
            $('.product_drag_area').on('dragleave', function(){
                $(this).removeClass('product_drag_over');
                return false;
            });
            $('.product_drag').on('dragstart', function(e){
                e.originalEvent.dataTransfer.setData("id", $(this).data("id"));
                e.originalEvent.dataTransfer.setData("name", $(this).data("name"));
                e.originalEvent.dataTransfer.setData("price", $(this).data("price"));
            });
            $('.product_drag_area').on('drop', function(e){
                e.preventDefault();
                $(this).removeClass('product_drag_over');
                var id = e.originalEvent.dataTransfer.getData('id');
                var name = e.originalEvent.dataTransfer.getData('name');
                var price = e.originalEvent.dataTransfer.getData('price');
                var action = "add";
                $.ajax({
                    url:"action.php",
                    method:"POST",
                    data:{id:id, name:name, price:price, action:action},
                    success:function(data){
                        $('#dragable_product_order').html(data);
                    }
                })
            });

            $('#ParentContainer').scroll(function() {
                $('#FixedDiv').css('top', $(this).scrollTop());
            });

            $(document).on('click', '.remove_all', function(){
                var quantity = $(this).parent().parent().children()[1].innerText;
                var prodPrice = parseFloat($(this).parent().parent().children()[2].innerText)/parseFloat(quantity);
                var prodID = $(this).parent().parent().attr('id');
                var productCard = $("img[data-id='" + prodID +"']").parent().children('h6').children('p');
                var prodTaxable = $("img[data-id='" + prodID +"']").attr('data-taxable');

                var total = document.querySelector('#total');
                var subtotal = document.querySelector('#subtotal');
                var tax = document.querySelector('#tax');

                var i = $(this).parent().parent().index();
                var table = $(this).parent().parent().parent();

                    if(productCard[0] !== undefined){
                        productCard[0].innerText = parseFloat(productCard[0].innerText) + parseInt(quantity);
                    }

                if(prodTaxable ==="1"){
                    tax.innerText = (parseFloat(tax.innerText) - ((prodPrice * parseInt(quantity)) *.16)).toFixed(2);
                    total.innerText = (parseFloat(total.innerText) - (prodPrice * parseInt(quantity))).toFixed(2);
                    subtotal.innerText = (parseFloat(subtotal.innerText) - ((prodPrice * parseInt(quantity)) - ((prodPrice * parseInt(quantity))*.16)) ).toFixed(2);
                }else{
                    total.innerText = (parseFloat(total.innerText) - (prodPrice * parseInt(quantity))).toFixed(2);
                    subtotal.innerText = (parseFloat(subtotal.innerText) - (prodPrice * parseInt(quantity))).toFixed(2);

                }

                $(this).parent().parent().remove();

            });

            $(document).on('click', '.discount_product', function(){
                var x;
                var discount = prompt("Ingresar monto por descontar","");
                var price = parseFloat($(this).parent().parent().children()[2].innerText);
                var prodID = $(this).parent().parent().attr('id');
                var prodTaxable = $("img[data-id='" + prodID +"']").attr('data-taxable');
                var total = document.querySelector('#total');
                var subtotal = document.querySelector('#subtotal');
                var tax = document.querySelector('#tax');
                discount = parseFloat(discount);

                if (discount!=null && $.isNumeric(discount) && discount < price){
                    $(this).parent().parent().children()[2].innerText = price - discount;


                    if(prodTaxable ==="1"){
                        tax.innerText = (parseFloat(tax.innerText) - ((((price)*.16) - (price - discount)*.16))).toFixed(2);
                        total.innerText = (parseFloat(total.innerText) - discount).toFixed(2);
                        subtotal.innerText = (parseFloat(subtotal.innerText) - (discount - (discount*.16)) ).toFixed(2);
                    }else{
                        total.innerText = (parseFloat(total.innerText) - (discount)).toFixed(2);
                        subtotal.innerText = (parseFloat(subtotal.innerText) - (discount)).toFixed(2);

                    }

                }

            });

            $(document).on('click', '.remove_product', function(){
                var quantity = $(this).parent().parent().children()[1].innerText;
                var prodPrice = parseFloat($(this).parent().parent().children()[2].innerText)/parseFloat(quantity);
                var prodID = $(this).parent().parent().attr('id');
                var productCard = $("img[data-id='" + prodID +"']").parent().children('h6').children('p');
                var prodTaxable = $("img[data-id='" + prodID +"']").attr('data-taxable');

                var total = document.querySelector('#total');
                var subtotal = document.querySelector('#subtotal');
                var tax = document.querySelector('#tax');

                var i = $(this).parent().parent().index();
                var table = $(this).parent().parent().parent();

                if(quantity === "1"){
                    $(this).parent().parent().remove();

                    if(productCard[0] !== undefined){
                        productCard[0].innerText = parseFloat(productCard[0].innerText) + 1;
                    }

                }else{
                    $(this).parent().parent().children()[1].innerText = quantity - 1;

                    if(productCard[0] !== undefined){
                        productCard[0].innerText = parseFloat(productCard[0].innerText) + 1;
                    }
                    var price = parseFloat($(this).parent().parent().children()[2].innerText);
                    $(this).parent().parent().children()[2].innerText = price - prodPrice;

                }



                if(prodTaxable ==="1"){
                    tax.innerText = (parseFloat(tax.innerText) - (prodPrice*.16)).toFixed(2);
                    total.innerText = (parseFloat(total.innerText) - prodPrice).toFixed(2);
                    subtotal.innerText = (parseFloat(subtotal.innerText) - (prodPrice - (prodPrice*.16)) ).toFixed(2);
                }else{
                    total.innerText = (parseFloat(total.innerText) - prodPrice).toFixed(2);
                    subtotal.innerText = (parseFloat(subtotal.innerText) - prodPrice).toFixed(2);

                }


            });

            $(document).on('click', '.add_product', function(){
                var cart = $('.cart-table');
                var imgtodrag = $(this).parent().parent().children('img').eq(0);
                if (imgtodrag) {
                    var imgclone = imgtodrag.clone()
                        .offset({
                            top: imgtodrag.offset().top,
                            left: imgtodrag.offset().left
                        })
                        .css({

                            'position': 'absolute',
                            'height': '150px',
                            'width': '150px',
                            'z-index': '100'
                        })
                        .appendTo($('body'))
                        .animate({
                            'top': cart.offset().top + 50,
                            'left': cart.offset().left + 150,
                            'width': 75,
                            'height': 75
                        }, 500, 'easeInOutExpo');



                    imgclone.animate({
                        'width': 0,
                        'height': 0
                    }, function () {
                        $(this).detach()
                    });
                }

                var prodName = $(this).parent().parent().children('img').attr('data-name');
                var prodPrice = parseFloat($(this).parent().parent().children('img').attr('data-price'));
                var prodID = $(this).parent().parent().children('img').attr('data-id');
                var prodTaxable = $(this).parent().parent().children('img').attr('data-taxable');

                var prod_quantity = $(this).parent().parent().find("#product-quantity");
                if(prod_quantity[0] !== undefined){
                    prod_quantity[0].innerText = parseInt(prod_quantity[0].innerText)-1;
                }

                var total = document.querySelector('#total');
                var subtotal = document.querySelector('#subtotal');
                var tax = document.querySelector('#tax');


                var cellVal = $(".cart-table tr td").filter(function() {
                    return $(this).text() === prodName;
                });

                if(cellVal.text() === ""){
                    $(".cart-table").prepend('<tr id="'+prodID+'"><td >'+prodName+'</td><td id="quantity">1</td><td id="price">'+prodPrice+'</td><td><div class="remove_product btn btn-danger btn-sm my-1">Borrar</div><div class="remove_all btn btn-warning my-1 btn-sm">Borrar Todo</div>    <div class="discount_product btn btn-success my-1 btn-sm">Descuento</div></td></tr>');
                }else{
                    var quantity = parseInt(cellVal.parent().children()[1].innerText);
                    cellVal.parent().children()[1].innerText = quantity +1;

                    var price = parseInt(cellVal.parent().children()[2].innerText);
                    cellVal.parent().children()[2].innerText = price + prodPrice;
                }

                if(prodTaxable ==="1"){
                    tax.innerText = (parseFloat(tax.innerText) + (prodPrice*.16)).toFixed(2);
                    total.innerText = (parseFloat(total.innerText) + prodPrice).toFixed(2);
                    subtotal.innerText = (parseFloat(subtotal.innerText) + (prodPrice - (prodPrice*.16)) ).toFixed(2);

                }else{
                    total.innerText = (parseFloat(total.innerText) + prodPrice).toFixed(2);
                    subtotal.innerText = (parseFloat(subtotal.innerText) + prodPrice).toFixed(2);

                }

            });



            $(document).on('click', '.add_multiple_product', function(){
                var prodAmount = parseInt($(this).parent().parent().find("#product_amount").val());

                var cart = $('.cart-table');
                var imgtodrag = $(this).parent().parent().children('img').eq(0);
                if (imgtodrag) {
                    var imgclone = imgtodrag.clone()
                        .offset({
                            top: imgtodrag.offset().top,
                            left: imgtodrag.offset().left
                        })
                        .css({

                            'position': 'absolute',
                            'height': '150px',
                            'width': '150px',
                            'z-index': '100'
                        })
                        .appendTo($('body'))
                        .animate({
                            'top': cart.offset().top + 50,
                            'left': cart.offset().left + 150,
                            'width': 75,
                            'height': 75
                        }, 500, 'easeInOutExpo');



                    imgclone.animate({
                        'width': 0,
                        'height': 0
                    }, function () {
                        $(this).detach()
                    });
                }

                var prodName = $(this).parent().parent().children('img').attr('data-name');
                var prodPrice = parseFloat($(this).parent().parent().children('img').attr('data-price'));
                var prodID = $(this).parent().parent().children('img').attr('data-id');
                var prodTaxable = $(this).parent().parent().children('img').attr('data-taxable');

                var prod_quantity = $(this).parent().parent().find("#product-quantity");
                if(prod_quantity[0] !== undefined){
                    prod_quantity[0].innerText = parseInt(prod_quantity[0].innerText) - prodAmount;
                }

                var total = document.querySelector('#total');
                var subtotal = document.querySelector('#subtotal');
                var tax = document.querySelector('#tax');


                var cellVal = $(".cart-table tr td").filter(function() {
                    return $(this).text() === prodName;
                });
                if(cellVal.text() === ""){
                    if(prodAmount ===1){
                        $(".cart-table").prepend('<tr id="'+prodID+'"><td >'+prodName+'</td><td id="quantity">1</td><td id="price">'+prodPrice+'</td><td><div class="remove_product btn btn-danger btn-sm my-1">Borrar</div><div class="remove_all btn btn-warning my-1 btn-sm">Borrar Todo</div><div class="discount_product btn btn-success my-1 btn-sm">Descuento</div></td></tr>');

                    }else{

                        $(".cart-table").prepend('<tr id="'+prodID+'"><td >'+prodName+'</td><td id="quantity">'+ prodAmount +'</td><td id="price">'+(prodPrice * prodAmount)+'</td><td><div class="remove_product btn btn-danger btn-sm my-1">Borrar</div><div class="remove_all btn btn-warning my-1 btn-sm">Borrar Todo</div><div class="discount_product btn btn-success my-1 btn-sm">Descuento</div></td></tr>');

                    }

                }else{
                    var quantity = parseInt(cellVal.parent().children()[1].innerText);
                    cellVal.parent().children()[1].innerText = quantity + prodAmount;

                    var price = parseInt(cellVal.parent().children()[2].innerText);
                    cellVal.parent().children()[2].innerText = price + (prodPrice * prodAmount);
                }

                if(prodTaxable ==="1"){
                    tax.innerText = (parseFloat(tax.innerText) + ((prodPrice * prodAmount)*.16)).toFixed(2);
                    total.innerText = (parseFloat(total.innerText) + (prodPrice * prodAmount)).toFixed(2);
                    subtotal.innerText = (parseFloat(subtotal.innerText) + ((prodPrice * prodAmount) - ((prodPrice * prodAmount)*.16)) ).toFixed(2);

                }else{
                    total.innerText = (parseFloat(total.innerText) + (prodPrice * prodAmount)).toFixed(2);
                    subtotal.innerText = (parseFloat(subtotal.innerText) + (prodPrice * prodAmount)).toFixed(2);

                }

            });


            $(document).on('click', '.add_service', function(){
                var prodPrice = parseFloat($(this).parent().parent().children('input').val());

                if(!isNaN(prodPrice)){
                    var cart = $('.cart-table');
                    var imgtodrag = $(this).parent().parent().children('img').eq(0);
                    if (imgtodrag) {
                        var imgclone = imgtodrag.clone()
                            .offset({
                                top: imgtodrag.offset().top,
                                left: imgtodrag.offset().left
                            })
                            .css({

                                'position': 'absolute',
                                'height': '150px',
                                'width': '150px',
                                'z-index': '100'
                            })
                            .appendTo($('body'))
                            .animate({
                                'top': cart.offset().top + 50,
                                'left': cart.offset().left + 150,
                                'width': 75,
                                'height': 75
                            }, 500, 'easeInOutExpo');



                        imgclone.animate({
                            'width': 0,
                            'height': 0
                        }, function () {
                            $(this).detach()
                        });
                    }

                    var prodName = $(this).parent().parent().children('img').attr('data-name');

                    var prod_quantity = $(this).parent().parent().find("#product-quantity");

                    var prodID = $(this).parent().parent().children('img').attr('data-id');
                    var prodTaxable = $(this).parent().parent().children('img').attr('data-taxable');

                    if(prod_quantity[0] !== undefined){
                        prod_quantity[0].innerText = parseInt(prod_quantity[0].innerText)-1;
                    }


                    var total = document.querySelector('#total');
                    var subtotal = document.querySelector('#subtotal');
                    var tax = document.querySelector('#tax');


                    var cellName = $(".cart-table tr td").filter(function() {
                        return $(this).text() === prodName;
                    });

                    var cellPrice = $(".cart-table tr td").filter(function() {
                        return $(this).text() === prodPrice;
                    });

                    if(cellName.text() === ""){
                        $(".cart-table").prepend('<tr id="'+prodID+'"><td >'+prodName+'</td><td id="quantity">1</td><td id="price">'+prodPrice+'</td><td><div class="remove_product btn btn-danger btn-sm my-1">Borrar</div><div class="remove_all btn btn-warning my-1 btn-sm">Borrar Todo</div><div class="discount_product btn btn-success my-1 btn-sm">Descuento</div></td></tr>');
                    }else{
                        $(".cart-table").prepend('<tr id="'+prodID+'"><td >'+prodName+'</td><td id="quantity">1</td><td id="price">'+prodPrice+'</td><td><div class="remove_product btn btn-danger btn-sm my-1">Borrar</div><div class="remove_all btn btn-warning my-1 btn-sm">Borrar Todo</div><div class="discount_product btn btn-success my-1 btn-sm">Descuento</div></td></tr>');
                    }


                    if(prodTaxable ==="1"){
                        tax.innerText = (parseFloat(tax.innerText) + (prodPrice*.16)).toFixed(2);
                        total.innerText = (parseFloat(total.innerText) + prodPrice).toFixed(2);
                        subtotal.innerText = (parseFloat(subtotal.innerText) + (prodPrice - (prodPrice*.16)) ).toFixed(2);

                    }else{
                        total.innerText = (parseFloat(total.innerText) + prodPrice).toFixed(2);
                        subtotal.innerText = (parseFloat(subtotal.innerText) + prodPrice).toFixed(2);

                    }
                }

            });

        });




        function deleteRow(r) {
            var i = r.parentNode.parentNode.rowIndex;
            document.getElementById(".cart").deleteRow(i);
        }

        function payment() {
            var row_count = $('#cart tr').length;;
            if(row_count >4){

                var product_ids = [];
                var quantities = [];
                var prices = [];
                var total,subtotal,tax;
                var saleID;
                var client_name;

                client_name = $('#client_name').val();
                total = $('#cart tr').find('#total').text();
                subtotal = $('#cart tr').find('#subtotal').text();
                tax = $('#cart tr').find('#tax').text();

                $('#cart tr').each(function(index, tr) {

                    if(index>0) {
                        if(index < row_count-3) {
                            var row = $(tr).closest('tr');
                            var quantity = row.find('#quantity').text();
                            var price = row.find('#price').text();


                          //   console.log("Index: "+index +" Id: "+tr.id+" Quantity: " + quantity);
                            product_ids.push(tr.id);
                            quantities.push(quantity);
                            prices.push(price);



                        }
                    }

                });

                $.ajax({
                    url:"{{ path('create_sale') }}",
                    type: "POST",
                    data:{
                        products:product_ids,
                        quantity:quantities,
                        total:total,
                        subtotal:subtotal,
                        tax:tax,
                        client:client_name,
                        price:prices

                    },
                    success:function (php_result) {
                        console.log(php_result);
                        saleID = php_result.toString();
                        window.location.replace(saleID+"/payment");

                    }

                });

            }


        }


    </script>

{% endblock %}