{% extends 'base_admin.html.twig' %}

{% block title %}Quote {{ quote.id }}{% endblock %}

{% block body %}
    <h1>Product</h1>
<div class="table-responsive">
    <table class="table table-bordered table-striped " id="dataTable" >
        <tbody>
            
            <tr>
                <th>Cliente</th>
                <td>{{ quote.client.name }}</td>
            </tr>
            <tr>
                <th>Total</th>
                <td>{{ quote.total }}</td>
            </tr>

            <tr>
                <th>Fecha</th>
                <td>{{ quote.time ? quote.time|date('d-m-Y H:i:s') : '' }}</td>
            </tr>

            <tr>
                <th>Vendedor</th>
                <td>{{ quote.user.firstname ~ " " ~ quote.user.lastname }}</td>
            </tr>

           
        </tbody>
    </table>

     <table class="table table-bordered table-striped " id="dataTable2" >
        <tbody>
         
            {% for product in quote.productQuotes %}
            <tr>
                <th>Product</th>
                <td>{{ product.product.name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class = "btn btn-primary" href="{{ path('quotes_list') }}">Regresar</a>
    <a class = "btn btn-primary" href="{{ path('quote_pdf_preview', {'id': quote.id}) }}">Preview</a>
    <a class = "btn btn-primary" href="{{ path('quote_pdf_download', {'id': quote.id}) }}">Descargar Pdf</a>
    <a class = "btn btn-primary" href="{{ path('quote_compose', {'id': quote.id}) }}">Enviar</a>

</div>
</div>
    <a href="{{ path('quotes_list') }}">back to list</a>



  
{% endblock %}

{% block pagejs %}

{% endblock %}
