{% extends 'base_admin.html.twig' %}

{% block title %}Editar {{ order.id }}{% endblock %}

{% block body %}
<div class="card">
    <div class="card-header"><i class="fas fa-table"></i>Orden
    </div>
    
        <div class="card-body">

        <table class="table table-bordered table-striped main_table " id="zero_config" >
    
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ order.id }}</td>
            </tr>
            <tr>
                <th>Cliente</th>
                <td>{{ order.client }}</td>
            </tr>
            <tr>
                <th>Total</th>
                <td id="order_total">{{ order.total }}</td>
            </tr>

            <tr>
                <th>Fecha</th>
                <td>{{ order.time ? order.time|date('d-m-Y H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Calle</th>
                <td><input type="text" id="line1" name="line1" value ="{{ order.line1 }}"></td>
            </tr>
            <tr>
                <th>Apt,Colonia</th>
                <td><input type="text" id="line2" name="line2" value ="{{ order.line2 }}"></td>
            </tr>
            <tr>
                <th>Ciudad</th>
                <td><input type="text" id="city" name="city" value ="{{ order.city }}"></td>
            </tr>
            <tr>
                <th>Estado</th>
                <td><input type="text" id="state" name="state" value ="{{ order.state }}"></td>
            </tr>
            <tr>
                <th>C.P</th>
                <td><input type="text" id="postalcode" name="postalcode" value ="{{ order.postalcode }}"></td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td><input type="text" id="telephone" name="telephone" value ="{{ order.telephone }}"></td>
            </tr>
            
             <tr>
                <th>Nota</th>
                <td><input type="text" id="note" name="note" value ="{{ order.note }}"></td>
            </tr>

        </tbody>
    </table>
            <button class = "btn btn-success" onclick="save()">Guardar</button>

    <h2>Productos</h2>
     <table class="table table-bordered products_table" id="zero_config" >
          <thead>
                    <tr>
                        <th style="width:10%" >Nombre</th>
                        <th style="width:10%" >Cantidad</th>
                        <th style="width:10%" >Costo</th>
                        <th style="width:10%" >Acciones</th>                
                    </tr>
        </thead>
        <tbody>
           
            {% for product in order.productOrdereds %}
            <tr id="{{product.product.id}}" data-id="{{product.id}}">
                <th>
                {{product.product.name}}
                </th>
                <th><input type="number" id="quantity" name="quantity" min="1" value ="{{ product.amount}}"></th>
                <th>{{product.product.cost * product.amount}}</th>

                <td> <button class = "btn btn-danger remove_product" >Borrar</button></td>
            </tr>
            
            {% endfor %}
             <tr>
                <td> 
                <div class="search-button-name input-group">
                <input id="product_search_input_name" class="form-control rounded my-1" type="text" placeholder="Nombre del Producto" onkeyup="showResultName(this.value)">
                <button class="btn btn-success btn-sm add_product" onclick="searchName()">Agregar</button>
                </div>
                <div class="" id="livesearch_name" style="z-index:1;position:absolute; border-radius: 5px; background: white none repeat scroll 0% 0%; width: 50%;"></div>

                </td>

            </tr>

        </tbody>
        
    </table>
        <a class = "btn btn-primary" href="{{ path('order_list') }}">Regresar</a>

</div>

{% endblock %}
    
{% block pagejs %}

<script type="text/javascript">

function selectProductName(str){
            document.getElementById("product_search_input_name").value=str;
            document.getElementById("livesearch_name").innerHTML="";
            document.getElementById("livesearch_name").style.border="0px";
        }

        function clearProductName(){
            document.getElementById("product_search_input_name").value='';
            document.getElementById("livesearch_name").innerHTML="";
            document.getElementById("livesearch_name").style.border="0px";
        }

        function showResultName(str) {
             if (str.length==0) {
                document.getElementById("livesearch_name").innerHTML="";
                document.getElementById("livesearch_name").style.border="0px";
                return;
            }
            $.ajax({
                    url:"{{ path('fetch_products_name') }}",
                    type: "POST",
                    dataType:"text",
                    data:{
                        name:str
                    },
                    success:function (php_result) {
                        if(php_result !== '[]') {
                            var products = JSON.parse(php_result);
                            var searchResults = ""
                            for(var i =0; i < products.length;i++){
                                var name = products[i].name
                                
                                searchResults += '<a class="text-primary" onclick="selectProductName(this.innerHTML)">'+products[i].name+'</a><br/>'
                            }
                            document.getElementById("livesearch_name").style.border="1px solid #A5ACB2"
                            document.getElementById("livesearch_name").innerHTML = searchResults;
                        }
                        else{
                            document.getElementById("livesearch_name").style.border="1px solid #A5ACB2"
                            document.getElementById("livesearch_name").innerHTML = '<a class="text-success" onclick="clearProductName()">Sin Resultados</a><br/>';
                        }       
                    }
                });
            }


    function searchName() {

        


    }

    //add on change to product selector too
    $(document).on('change', '#quantity', function(data){
        var productOrderedID= $(this).parent().parent().attr('data-id');
        var productQuantity= $(this).val();

        $.ajax({
            url:"{{ path('order_change_quantity') }}",
            type: "POST",
            dataType: "text",
            data:{
                id:productOrderedID,
                orderID:{{ order.id }},
                quantity:productQuantity   
                },
                    success: function(data){
         
                    console.log("success");
                    },
                    error: function(error){
                        console.log("Error:");
                        console.log(error);
                    }
                });

    });

    $(document).on('click', '.remove_product', function(){
        $(this).parent().parent().remove();
         var productOrderedID= $(this).parent().parent().attr('data-id');

        $.ajax({
            url:"{{ path('order_delete_product') }}",
            type: "POST",
            dataType: "text",
            data:{
                id:productOrderedID,
                orderID:{{ order.id }}
                },
                    success: function(data){
         
                    console.log("success");
                    },
                    error: function(error){
                        console.log("Error:");
                        console.log(error);
                    }
                });
    });

    $(document).on('click', '.add_product', function(){
        var products_table = $('.products_table > tbody:last-child');

        var name = $('#product_search_input_name').val();
        $.ajax({
                url:"{{ path('fetch_product_name') }}",
                type: "POST",
                dataType: "text",
                data:{
                    name:name,
                },
                success: function(data){
                    var obj = jQuery.parseJSON(data);
//                    console.log(obj.name);

                    if(obj.cost !== "") {
                      
                        var prodName = obj.name;
                        var prodPrice = parseFloat(obj.price);
                        var prodCost = parseFloat(obj.cost);
                        var prodID = obj.id;

                        //products_table.prepend('<tr id="'+obj.id+'"><th>'+ prodName +'</th> <td><input type="number" id="quantity" name="quantity" min="1" max="5" value="1"></td> <td>'+obj.cost+'</td> <td> <button class="btn btn-danger remove_product">Borrar</button></td></tr>');

                        $.ajax({
                            url:"{{ path('order_add_product') }}",
                            type: "POST",
                            dataType: "text",
                            data:{
                                id:obj.id,
                                orderID:{{ order.id }}      
                            },
                            success: function(order_data){
         
                            products_table.prepend('<tr id="'+obj.id+'" data-id="'+order_data+'"><th>'+ prodName +'</th> <td><input type="number" id="quantity" name="quantity" min="1" max="5" value="1"></td> <td>'+obj.cost+'</td> <td> <button class="btn btn-danger remove_product">Borrar</button></td></tr>');
   
                            },
                            error: function(error){
                                console.log("Error:");
                                console.log(error);
                            }

                        });

                    }
                },
                error: function(error){
                    console.log("Error:");
                    console.log(error);
                }

            });

        //Get products from if product is valid add to list...

    });


        function save() {
            
            var product_ids = [];
            var quantities = [];
            var orderId = {{ order.id }};
            //var orderTotal = $(document).find('#order_total').text();
            var note = $('#note').val();
            var line1 = $('#line1').val();
            var line2 = $('#line2').val();
            var city = $('#city').val();
            var state = $('#state').val();
            var postalcode = $('#postalcode').val();
            var telephone = $('#telephone').val();


            var row_count = $('.products_table tr').length;


                 $('.products_table tr').each(function(index, tr) {

                    if(index>0) {
                        if(index < row_count-1) {
                            var row = $(tr).closest('tr');
                            var quantity = row.find('#quantity').val();
                      
                            product_ids.push(parseInt(tr.id));
                            quantities.push(parseInt(quantity));
                          
                        }
                    }

                });

                console.log(product_ids);
                console.log(quantities);
                console.log(note);

                $.ajax({
                    url:"{{ path('order_edit_post') }}",
                    dataType:"text",
                    type: "POST",
                     data:{
                        id:orderId,
                        products:product_ids,
                        quantity:quantities,
                        line1:line1,
                        line2:line2,
                        city:city,
                        state:state,
                        telephone:telephone,
                        postalcode:postalcode,
                        note:note
                    },
                    success:function (php_result) {
                        console.log(php_result);
                        window.location.replace('/order/'+orderId);
                    }
                });

            }
</script>
{% endblock %}



