{% extends 'base_admin.html.twig' %}

{% block title %}Ordenes{% endblock %}

{% block breadcrumb %}
   

{% endblock %}

{% block body %}
<div class="card">
    <div class="card-header"><i class="fas fa-table"></i>Ordenes</div>
        <div class="card-body">
           <table class="table table-bordered table-striped order_table" id="zero_config" >
        <thead>
        <tr>    
                <th style="width:10%" ></th>

                <th style="width:10%" >Order Number</th>
                <th style="width:10%" >Cliente</th>
                <th style="width:10%" >Total</th>
                <th style="width:10%" >Fecha</th>
                <th style="width:10%">Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for order in orders %}
                        <tr>
                            <td><input type="checkbox" id="order_check" value="{{ order.id }}"></td>                            
                            <td>{{ order.ordernumber }}</td>                            
                            <td>{{ order.client }} </td>
                            <td>${{ order.total }} USD</td>
                            <td>{{ order.time ? order.time|date('d-m-Y H:i:s') : '' }}</td>
                            <td>
                                <div class="btn btn-primary btn-sm">
                                    <a class="text-white" href="{{ path('order_show', {'id': order.id}) }}">Detalles</a>
                                </div>

                            </td>

                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">no records found</td>
                        </tr>
                    {% endfor %}
        </tbody>
    </table>
  
            <button class="send btn btn-primary btn-sm" >Enviar</button>
                            
</div>


{% endblock %}

{% block pagejs %}

    <script src="{{ asset('theme/assets/extra-libs/datatables.net/js/jquery.dataTables.min.js') }}"></script>

    <script>

        $('#zero_config').DataTable({
            "order": [
                [6, "desc"]
            ]
        });
    
    </script>

    <script type="text/javascript">

        function send(button) {
                $.ajax({
                    url:"{{ path('order_pdf_send') }}",
                    type: "POST",
                    success:function (php_result) {
                        console.log(php_result);
                    
                    }
                });

            }

            $(document).on('click','.send', function(){

                var order_ids = [];
                var row_count = $('.order_table tr').length;

                 $('.order_table tr').each(function(index, tr) {

                    if(index>0) {
                        if(index < row_count) {
                            var row = $(tr).closest('tr');

                            var checkbox = row.find('#order_check');

                            if(checkbox.is(":checked")){
                            order_ids.push(parseInt(checkbox.val()));

                            }
                      
                        }
                    }

                });

                console.log(order_ids.toString());
                window.location.replace('/order/pdf/multiple/compose?oids='+order_ids.toString());

                              
            });

    </script>
{% endblock %}

