{% extends 'base_admin.html.twig' %}

{% block title %}Ordenes{% endblock %}

{% block breadcrumb %}
   

{% endblock %}

{% block body %}
<div class="card">
    <div class="card-header"><i class="fas fa-table"></i>Ordenes</div>
        <div class="card-body">
           <table class="table table-bordered table-striped " id="zero_config" >
        <thead>
        <tr>
                <th style="width:10%" >ID</th>
                <th style="width:10%" >Estatus de Pago</th>
                <th style="width:10%" >Cliente</th>
                <th style="width:10%" >Fecha</th>
                <th style="width:10%">Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for order in orders %}
                        <tr>
                            <td>{{ order.id }}</td>                            
                            <td>{{ order.client }} </td>
                            <td>${{ order.total }} MXN</td>
                            <td>{{ order.time ? order.time|date('d-m-Y H:i:s') : '' }}</td>
                            <td>
                                <div class="btn btn-primary btn-sm">
                                    <a class="text-white" href="{{ path('order_show', {'id': order.id}) }}">Detalles</a>
                                </div>

                            </td>

                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">no records found</td>
                        </tr>
                    {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}

{% block pagejs %}
    <script src="../theme/assets/extra-libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="../theme/dist/js/pages/datatable/datatable-basic.init.js"></script>
{% endblock %}

