{% extends 'base_admin.html.twig' %}

{% block title %}Sale {{ order.id }}{% endblock %}

{% block body %}
<div class="card">
    <div class="card-header"><i class="fas fa-table"></i>Orden
    </div>
    
        <div class="card-body">

        <table class="table table-bordered table-striped " id="zero_config" >
    
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ order.id }}</td>
            </tr>
            <tr>
                <th>Cliente</th>
                <td>{{ order.client }}</td>
            </tr>
            <tr>
                <th>Total</th>
                <td>{{ order.total }}</td>
            </tr>

            <tr>
                <th>Fecha</th>
                <td>{{ order.time ? order.time|date('d-m-Y H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Calle </th>
                <td>{{ order.line1 }}</td>
            </tr>
            <tr>
                <th>Apt,Colonia, etc</th>
                <td>{{ order.line2 }}</td>
            </tr>
            <tr>
                <th>Ciudad</th>
                <td>{{ order.city }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ order.state }}</td>
            </tr>
            <tr>
                <th>C.P</th>
                <td>{{ order.postalcode }}</td>
            </tr>
            <tr>
                <th>telephone</th>
                <td>{{ order.telephone }}</td>
            </tr>
             <tr>
                <th>Nota</th>
                <td>{{ order.note }}</td>
            </tr>

        </tbody>
    </table>
<a class = "btn btn-primary my-1" href="{{ path('order_edit', {'id': order.id}) }}">Editar</a>
     <table class="table table-bordered table-striped " id="zero_config" >
          <thead>
                    <tr>
                        <th style="width:10%" >Nombre</th>
                        <th style="width:10%" >Cantidad</th>

                

                    </tr>
        </thead>
        <tbody>
           
            {% for product in order.productOrdereds %}
            <tr>
                <th>{{ product.product.name }}</th>
                <td>{{  product.amount}}</td>

            {% endfor %}
        </tbody>
    </table>
<a class = "btn btn-primary" href="{{ path('order_list') }}">Regresar</a>
    <a class = "btn btn-primary" href="{{ path('order_pdf_preview', {'id': order.id}) }}">Preview</a>
    <a class = "btn btn-primary" href="{{ path('order_pdf_download', {'id': order.id}) }}">Descargar Pdf</a>
    <a class = "btn btn-primary" href="{{ path('order_compose', {'id': order.id}) }}">Enviar</a>

</div>

    



<script type="text/javascript">

        function send(button) {
                $.ajax({
                    url:"{{ path('order_pdf_send') }}",
                    type: "POST",
                    success:function (php_result) {
                        console.log(php_result);
                    
                    }
                });

            }
    </script>

{% endblock %}
