{% extends 'base_admin.html.twig' %}

{% block title %}Area index{% endblock %}

{% block body %}
    <h1>Area index</h1>

 <div class="card">
    <div class="card-header"><i class="fas fa-table"></i>Areas</div>
        <div class="card-body">
           <table class="table table-bordered table-striped " id="zero_config" >
        <thead>
        <tr>
                <th style="width:10%">ID</th>
          
            <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for area in areas %}
            <tr>
                <td>{{ area.id }}</td>
                <td>{{ area.name }}</td>
                <td>
                    <a href="{{ path('area_show', {'id': area.id}) }}">show</a>
                    <a href="{{ path('area_edit', {'id': area.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
  </table>
    <div class="btn btn-primary ">
    <a class="text-white" href="{{ path('area_new') }}">Nueva Area</a>

    </div>
</div>


{% endblock %}
